.container {
  outline: 1px solid blue;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  outline: 1px solid black;
}

.img {
  outline: 1px solid green;
  width: 25rem;
}
