body {
  display: flex;
  width: 100vw;
  height: 100vh;
  
  background: rgb(159, 188, 217);
  background: -moz-radial-gradient(
    circle,
    rgba(159, 188, 217, 1) 0%,
    rgba(128, 192, 201, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(159, 188, 217, 1) 0%,
    rgba(128, 192, 201, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(159, 188, 217, 1) 0%,
    rgba(128, 192, 201, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9fbcd9",endColorstr="#80c0c9",GradientType=1);
}
